.block {
  padding: 45px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0,0,0, 0.04204);
  border-radius: 3px;
  .ant-form-item-explain.ant-form-item-explain-error{
    margin-bottom: 10px;
  }
}