.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__top {
    text-align: center;
    margin-bottom: 50px;
    h2 {
      font-size: 28px;
      margin-bottom: 5px;
    }
    p {
      font-size: 18px;
      line-height: 21px;
      opacity: 0.5;
      letter-spacing: 0.1px;
    }
  }

  &__register-link {
    text-align: center;
    display: block;
    color: #ADADAD;
    letter-spacing: 0.12px;
    line-height: 19px;
    font-size: 16px;
  }


  &__success-block{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    h3{
      margin-top: 20px;
    }

    p {

      font-size: 14px;
      color: #ADADAD;
    }
  }

  .button {
    text-transform: uppercase;

    letter-spacing: 0.1px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
  }

  .block {
    width: 430px;
  }
}